<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="09A04341-BE03-4F61-8EBA-114A3CDD66C3" Name="MyInstaller" Language="1033" Version="1.0.0.0" Manufacturer="Jan Joost van Zon" UpgradeCode="c2cd04aa-fb34-495c-91a7-7c495988c6b7">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Languages="0,1033,1043"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="MyInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

	  <!-- Variable for WixUI_InstallDir -->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <!-- Reference to standard UI WixUI_InstallDir -->
    <UIRef Id="WixUI_InstallDir" />

    <!-- For localized messages? -->
    <!--<UIRef Id="WixUI_ErrorProgressText" />-->

  </Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="MyInstaller" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>

</Wix>
